<template>
  <header-component></header-component>
  <navigation-bar></navigation-bar>
  <router-view/>
</template>

<script>
  import HeaderComponent from './components/HeaderComponent.vue'
  import NavigationBar from './components/NavigationBar.vue'

  export default {
    components: {
      HeaderComponent,
      NavigationBar
    }
  }

</script>

<style>

</style>
